@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: #282828 url("images/coffee.jpg");
  background-size: cover;
  transition: background 500ms ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
header {
  height: 80px;
  background: transparent;
  transition: box-shadow 150ms ease-in-out;
  color: #fff;
}
header:hover {
  box-shadow: 0px 0px 15px 1px black;
}
.navigation {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  flex: 2 1 50px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
ul.menu {
  flex: 5;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
ul.menu li {
  list-style: none;
  cursor: pointer;
  transform: scale(0.95);
  transform-origin: center;
  font-size: 1.3rem;
  padding: 20px 5px;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
}
ul.menu li:hover {
  transform: scale(1);
  border-bottom: 2px solid #fff;
}

.search {
  flex: 3;
  display: flex;
  align-items: center;
}
input[type="text"],
input[type="password"] {
  padding: 8px 5px;
  border: 2px solid rgb(41, 147, 233);
  outline: none;
  background-color: transparent;
  caret-color: #fff;
  color: #fff;
  font-size: 1rem;
}
input[type]::placeholder {
  padding: 0px 5px;
  font-size: 1rem;
  transition: all 200ms ease-in-out;
  color: rgb(172, 164, 164);
}
input[type]:focus::placeholder {
  font-size: 0.9rem;
}

.btn {
  background: #127acf;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
}
.btn:hover {
  background-color: #1c95f8;
}
main {
  height: calc(100vh - 80px);
  position: relative;
}
.container {
  display: flex;
  color: #fff;
  height: inherit;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container .left {
  flex: 7;
}
.container .right {
  flex: 3;
}

.left,
.right {
  padding: 50px;
}

.left .box,
.right .box {
  border: 2px solid transparent;
  background: #191515d4;
  border-radius: 10px;
  padding: 40px 20px;
  transition: all 200ms ease-in-out;
  backdrop-filter: blur(5px);
  /* border: 2px solid transparent;
  background: #09340959;
  border-radius: 10px;
  padding: 40px 20px;
  transition: all 200ms ease-in-out;
  backdrop-filter: blur(5px); */
}

.left .box {
  height: 400px;
  width: 700px;
}
.right .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

/* common css */
.txt-medium {
  font-size: 2rem;
  font-weight: 600;
}
.txt-bigger {
  font-size: 3rem;
  font-weight: 600;
}
hr {
  width: 80%;
  border-radius: 5px;
  height: 3px;
  border: 0 none;
  margin-bottom: 10px;
  background-color: #0387d9;
}
.form-login {
  width: 100%;
  padding: 10px 30px;
}
.form-login > * {
  margin-top: 10px;
}

.form-login input[type="text"],
input[type="password"] {
  width: 97%;
  border: none;
  border-bottom: 1px solid #127acf;
  transition: all 0.3s;
}
.form-login input[type="text"]:focus,
input[type="password"]:focus {
  width: 100%;
  border-bottom-color: #1c95f8;
}

.btn-login {
  width: 100%;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #24ed1e;
}

.social-media {
  margin-top: 10px;
  height: 50px;
  padding: 5px;
}
.social-media > * {
  margin-left: 15px;
}
.social-media img {
  height: 100%;
  filter: invert(0.7);
  transition: all 250ms ease-in-out;
  transform: scale(1);
}
.social-media img:hover {
  filter: invert(1);
  cursor: pointer;
  transform: scale(1.1);
}
.mt-10 {
  margin-top: 10px;
}

.bg-select {
  position: absolute;
  display: flex;
  height: 20px;
  width: 100px;
  bottom: 5%;
  left: 48%;
}
.bg-option {
  height: 100%;
  width: 20px;
  cursor: pointer;
  margin: 5px;
}
.bg-gray {
  background: rgb(39, 36, 36);
}
.bg-green1 {
  background: rgb(5, 87, 5);
}
.bg-green2 {
  background: rgb(7, 190, 7);
}
